'.source.js,javascript':
  'import av':
    'prefix': 'av'
    'body': """
      import AV from '../../utils/av-weapp-min.js'
    """
  'npm import av':
    'prefix': 'npmav'
    'body': """
      import AV from 'leancloud-storage'
    """
  '初始化LeanCloud':
    'prefix': 'avinit'
    'body': """
      import AV from 'leancloud-storage'
      let APP_ID = '$1'
      let APP_KEY = '$2'
      AV.init({
        appId: APP_ID,
        appKey: APP_KEY
      })
    """
    'description': '初始化LeanCloud'
    'descriptionMoreURL': 'https://leancloud.cn/docs/sdk_setup-js.html#hash20935048'
  '导入AV对象(微信小程序)':
    'prefix': 'avwx'
    'body': """
      import AV from './utils/av-weapp-min.js'
    """
    'description': '初始化LeanCloud'
    'descriptionMoreURL': 'https://leancloud.cn/docs/sdk_setup-js.html#hash20935048'
  '导入AV对象':
    'prefix': 'avwx'
    'body': """
      import AV from 'leancloud-storage'
    """
    'description': '初始化LeanCloud'
    'descriptionMoreURL': 'https://leancloud.cn/docs/sdk_setup-js.html#hash20935048'
  # 小程序
  '初始化LeanCloud(微信小程序)':
    'prefix': 'avwxinit'
    'body': """
      import AV from './utils/av-weapp-min.js'
      let APP_ID = '$1'
      let APP_KEY = '$2'
      AV.init({
        appId: APP_ID,
        appKey: APP_KEY
      })
    """
    'description': '初始化LeanCloud'
    'descriptionMoreURL': 'https://leancloud.cn/docs/sdk_setup-js.html#hash20935048'
  '一键登录微信小程序':
    'prefix': 'avloginWithWeapp'
    'body': """
      AV.User.loginWithWeapp().then((user) => {
        wx.setLocalStorageSync('userInfo',user.toJSON())
        // this.globalData.user = user.toJSON()
      }).catch((error)=>{
        console.log(error)
      })
    """
    'description': '一键登录'
    'descriptionMoreURL': 'https://leancloud.cn/docs/weapp.html#hash632531944'
  # 云函数
  '切换云引擎环境到预备环境':
    'prefix': 'avsetProduction'
    'body': """
      AV.setProduction(false) // 调用预备环境
    """
    'description': '切换云引擎环境'
    'descriptionMoreURL': 'https://leancloud.cn/docs/leanengine_cloudfunction_guide-node.html#hash1210911107'
  'LeanCloud SDK 调用云函数':
    'prefix': 'avrun'
    'body': """
      AV.Cloud.run('${1:cloudFuncName}',{
        $2
      }).then(res =>{
        // 调用成功
        $3
      },err =>{
        // 处理调用失败
        $4
      })
    """
    'description': 'SDK 调用云函数'
    'descriptionMoreURL': 'https://leancloud.cn/docs/leanengine_cloudfunction_guide-node.html#hash-2094011796'
