'.source.js,javascript':
	'构建 AV.File 对象':
    'prefix': 'av-file'
    'body': """
			const file = new AV.File(filename, data)
		"""
    'description': '文件->文件上传'
    'descriptionMoreURL': 'https://leancloud.cn/docs/leanstorage_guide-js.html#hash794363109'
	'从网络路径 AV.File 对象':
    'prefix': 'av-file-withURL'
    'body': """
			const file = AV.File.withURL(filename,fileurl)
		"""
    'description': '文件->文件上传->从网络路径构建文件'
    'descriptionMoreURL': 'https://leancloud.cn/docs/leanstorage_guide-js.html#hash688687091'
	'图像缩略图':
    'prefix': 'av-thumbnailURL'
    'body': """
			const url = file.thumbnailURL(100, 200)
		"""
    'description': '获得宽度为100像素，高度200像素的缩略图'
    'descriptionMoreURL': 'https://leancloud.cn/docs/leanstorage_guide-js.html#hash-259500047'
	'文件元数据-获取文件大小':
    'prefix': 'av-file-size'
    'body': """
			const size = file.size()
		"""
    'description': '获取文件大小'
    'descriptionMoreURL': 'https://leancloud.cn/docs/leanstorage_guide-js.html#hash-1143552046'
	'文件元数据-获取上传者(AV.User)的objectId':
    'prefix': 'av-file-owenerId'
    'body': """
			const ownerId = file.ownerId()
		"""
    'description': '上传者(AV.User) 的 objectId，如果未登录，默认为空'
    'descriptionMoreURL': 'https://leancloud.cn/docs/leanstorage_guide-js.html#hash-1143552046'
	'文件元数据-获取文件的全部元信息':
    'prefix': 'av-file-metadata'
    'body': """
			const metadata = file.metaData()
		"""
    'description': '获取文件的全部元信息'
    'descriptionMoreURL': 'https://leancloud.cn/docs/leanstorage_guide-js.html#hash-1143552046'
	'文件元数据-获取文件的格式':
    'prefix': 'av-file-format'
    'body': """
			const format = file.metaData(\'format\')
		"""
    'description': '获取文件的格式'
    'descriptionMoreURL': 'https://leancloud.cn/docs/leanstorage_guide-js.html#hash-1143552046'
	'文件删除（销毁）':
    'prefix': 'av-file-destroy'
    'body': """
			// 默认情况下，文件的删除权限是关闭的，需要进入 控制台 > 存储 > _File，选择菜单 其他 > 权限设置 > delete 来开启。
			const file = AV.File.createWithoutData(objectId)
			file.destroy().then(res => {
			  console.log(res)
			}).catch(error => {
				console.warn(error)
			})
		"""
    'description': '文件删除'
    'descriptionMoreURL': 'https://leancloud.cn/docs/leanstorage_guide-js.html#hash690244'
	'LeanCloud 文件上传':
    'prefix': 'av-file-upload'
    'body': """
      const tempFilePath = res.tempFilePaths[0]
      new AV.File('${1:file-name}', {
        blob: {
          uri: tempFilePath
        },
      }).save().then((file) => {
        console.log(file.url())
      }).catch((error) => {
        console.warn(error)
      })
    """
    'description': '小程序->存储文件存储'
    'descriptionMoreURL': 'https://leancloud.cn/docs/weapp.html#hash794469087'
	'小程序LeanCloud上传图片':
	  'prefix': 'av-wx-upload'
	  'body': """
			wx.pro.chooseImage({
			  count: 1,
			  sizeType: ['original', 'compressed'],
			  sourceType: ['album', 'camera'],
			}).then(res => {
			  const tempFilePath = res.tempFilePaths[0]
			  new AV.File('1.txt', {
			    blob: {
			      uri: tempFilePath,
			    }
			  }).save().then(file => {
					console.log(file.url())
				}).catch(error => {
					console.warn(error)
				})
			}).catch(error => {
				console.warn(error)
			})
	  """
	  'description': '小程序文件存储'
	  'descriptionMoreURL': 'https://leancloud.cn/docs/weapp.html#hash794469087'
