'.source.js,javascript':
  'LeanCloud 文件上传':
    'prefix': ''
    'body': """
      let tempFilePath = res.tempFilePaths[0];
      new AV.File('${1:file-name}', {
        blob: {
          uri: tempFilePath
        },
      }).save().then((file) => {
        console.log(file.url())
      }).catch((error) => {
        console.log(error)
      })
    """
    'description': '小程序->存储文件存储'
    'descriptionMoreURL': 'https://leancloud.cn/docs/weapp.html#hash794469087'
