'.source.js,javascript':
  '初始化LeanCloud(微信小程序)':
    'prefix': 'avwxinit'
    'body': """
      import AV from './utils/av-weapp-min.js'
      let APP_ID = '$1'
      let APP_KEY = '$2'
      AV.init({
        appId: APP_ID,
        appKey: APP_KEY
      })
    """
    'description': '初始化LeanCloud'
    'descriptionMoreURL': 'https://leancloud.cn/docs/sdk_setup-js.html#hash20935048'
  '一键登录微信小程序':
    'prefix': 'avloginWithWeapp'
    'body': """
      AV.User.loginWithWeapp().then((user) => {
        wx.setLocalStorageSync('userInfo',user.toJSON())
        // this.globalData.user = user.toJSON()
      }).catch((error)=>{
        console.log(error)
      })
    """
    'description': '一键登录'
    'descriptionMoreURL': 'https://leancloud.cn/docs/weapp.html#hash632531944'
